.upload-file {
  padding: 20px;
}

.upload-card {
  margin-bottom: 30px;
}

.upload-drag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-extra-large);
  cursor: pointer;
}

.upload-drag:hover,
.upload-drag:focus {
  border-color: var(--color-primary);
}
