.error-boundary {
  padding: 3rem;
  width: var(--stretch);
  height: 100%;
  min-height: inherit;
}

.title {
  font-size: 2em;
}

.error {
  margin: 0.3rem 0 0.64rem;
  font-size: 1.4em;
  color: var(--color-danger);
}
