:root {
  --link-hover: #409eff;
  --border-color: #ddd;
  --info-color: #909399;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #303030;
  }
}
