.home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 1920px) {
  .home {
    width: 1560px;
  }
}

@media screen and (max-width: 1600px) {
  .home {
    width: 1240px;
  }
}

@media screen and (max-width: 1440px) {
  .home {
    width: 1080px;
  }
}

@media screen and (max-width: 1280px) {
  .home {
    width: 980px;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    width: var(--stretch);
  }
}
