.home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
}

.grid {
  margin: 4px 6px;
  height: 8.613rem;
  box-sizing: inherit;
}

.media {
  width: var(--stretch);
  height: 6.3rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.title {
  margin: 5px 0;
  font-weight: 500;
  line-height: 1.2em;
}

@media screen and (max-width: 1920px) {
  .home {
    width: 1560px;
  }
}

@media screen and (max-width: 1600px) {
  .home {
    width: 1240px;
  }
}

@media screen and (max-width: 1440px) {
  .home {
    width: 1080px;
  }
}

@media screen and (max-width: 1280px) {
  .home {
    width: 980px;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    width: var(--stretch);
  }
}

@media screen and (max-width: 1920px) {
  .grid {
    width: calc(100% / 6 - 12px);
  }
}

@media screen and (max-width: 1440px) {
  .grid {
    width: calc(100% / 4 - 12px);
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    width: calc(100% / 3 - 12px);
  }
}

@media screen and (max-width: 640px) {
  .grid {
    width: calc(100% / 2 - 12px);
  }
}

@media screen and (max-width: 320px) {
  .grid {
    width: calc(100% / 1 - 12px);
  }
}
