.button {
  padding: 5px 10px;
  background-color: hsla(240deg 80% 70% / 70%);
  font-size: 0.8em;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: hsla(240deg 80% 70% / 50%);
}

.button:active {
  background-color: hsla(240deg 80% 50% / 70%);
}
