.visual-edit {
  display: flex;
  padding: 10px;
  height: calc(100vh - 10px);
}

.visual,
.edit {
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: auto;
  scrollbar-gutter: revert;
}

.visual {
  margin-right: 10px;
  width: 375px;
}

.menu {
  list-style: none;
  width: 80px;
  min-height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 0.8em;
  background-color: #fff;
  z-index: var(--z-index-useful);
}

.menu-item {
  padding: 6px 4px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e8e8e9;
}

.edit {
  padding: 10px;
  flex: 1;
}

.active {
  border: 1px solid hsla(0deg 80% 70% / 80%) !important;
}

.component,
.adjustment {
  display: block;
}

.back {
  margin-bottom: 15px;
  color: #999;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  min-width: 50px;
  margin-right: 10px;
  font-size: 1.2em;
  color: #666;
  white-space: nowrap;
}

.number,
.color,
.custom {
  outline: 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.number {
  height: 25px;
}

.number:focus,
.custom:focus {
  border: 1px solid blue;
}

.color {
  width: 120px;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  font-weight: 500;
}

@media screen and (max-width: 780px) {
  .visual,
  .edit {
    flex: 1;
  }
}

@media screen and (max-width: 520px) {
  .visual-edit {
    display: block;
  }

  .visual {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}
