.drag {
  padding: 40px;
  width: var(--strctch);
  min-height: inherit;
}

.wrapper {
  width: 40%;
  margin: 0 auto;
}

.item {
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  border: 1px solid #ddd;
}

.toggle {
  position: fixed;
  bottom: 40px;
  padding: 5px 12px;
  border: 0;
  color: #fff;
  background-color: hsl(240deg 100% 80%);
  cursor: pointer;
}

.enter-from {
  opacity: 0;
}

.enter-active {
  transition: opacity 0.5s ease;
}

.enter-to {
  opacity: 1;
}

.leave-from {
  opacity: 1;
}

.leave-active {
  transition: opacity 0.5s ease;
}

.leave-to {
  opacity: 0;
}
