@import url('./styles/calcrem.css');
@import url('./styles/variable.css');
@import url('./styles/theme.css');
@import url('./styles/preset.css');

body {
  margin: 0;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: #333;
  font-size: var(--font-size-base);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
caption,
ul,
ol,
dl,
form,
main,
nav,
aside,
header,
section,
footer,
article,
pre,
blockquote,
code,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: var(--link-hover);
}

html,
body,
div,
main,
nav,
aside,
header,
section,
footer,
article,
pre,
code {
  scrollbar-width: thin;
  scrollbar-color: #0003 transparent;
}

ul,
ol {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
input[type='range'],
input[type='email'],
input[type='tel'],
input[type='url'],
[contenteditable],
textarea {
  caret-color: #333;
  caret-shape: underscore;
  outline: 0;
  border: var(--border);
  border-radius: 3px;
}

input:focus {
  border-color: hsla(230deg 70% 70% / 100%);
}

::selection {
  background-color: #d1edc4;
  color: #fff;
}
