.gif-transfer {
  display: flex;
  align-items: flex-start;
}

html[screen='small'] .gif-transfer {
  display: block;
}

.gif-video-container {
  position: relative;
  margin-bottom: 20px;
  min-height: 200px;
  padding: 5px;
  border: var(--border);
  border-color: var(--color-primary);
  border-radius: var(--border-radius-base);
  cursor: pointer;
}

html[screen='small'] .gif-video-container {
  width: 100%;
}

.gif-transfer-render {
  width: 40%;
}

html[screen='small'] .gif-transfer-render {
  width: 100%;
}

.gif-video-config {
  margin-left: 30px;
}

html[screen='small'] .gif-video-config {
  margin-left: 0;
  margin-top: 20px;
}

.gif-video-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-video-disabled {
  cursor: not-allowed;
}

.icon-upload {
  font-size: 50px;
}

.gif-video {
  width: 100%;
  cursor: pointer;
}

.gif-video-disabled > .gif-video {
  cursor: not-allowed;
}

.gif-video-status {
  margin-top: 20px;
}
