.layout {
  --navbar-height: 2.3rem;

  min-height: 100vh;
}

html[screen='small'] .layout {
  --navbar-height: 2.6rem;
}

@media screen and (min-width: 768px) {
  .layout {
    --sidebar-width: 11.5rem;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    --sidebar-width: 14rem;
  }
}

@media screen and (max-width: 840px) {
  .layout {
    height: calc(100vh - 2.5rem);
  }
}
