.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px 5px;
  width: var(--sidebar-width);
  background-color: var(--color-white);
  box-shadow: 2px 0 8px 0 rgba(0 0 0 / 10%);
  transition: transform 0.4s ease;
}

.visible-side {
  transform: translateX(0) !important;
  box-shadow: 2px 0 8px 0 rgba(0 0 0 / 10%) !important;
}

.link {
  display: block;
  padding: 10px 14px;
  border-radius: var(--border-radius-base);
}

.link.active {
  color: var(--color-primary);
  background-color: var(--color-primary-light-9);
}

@media screen and (max-width: 840px) {
  .sidebar,
  .mask {
    transform: translateX(-100%);
    box-shadow: 0 0 0 0 transparent;
  }

  .mask {
    transform: revert;
  }
}
