.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 5px;
  width: var(--sidebar-width);
  min-width: 256px;
  overflow-y: auto;
  box-shadow: 2px 0 8px 0 rgba(0 0 0 / 10%);
  transition: transform 0.3s ease;
}

.link {
  display: block;
  padding: 10px 14px;
  border-radius: 4px;
}

.link.active {
  color: hsl(240deg 50% 70%);
  background-color: hsla(240deg 80% 50% / 10%);
}

@media screen and (min-width: 768px) {
  .sidebar {
    --sidebar-width: 11.5rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    --sidebar-width: 14rem;

    min-width: revert;
  }
}

@media screen and (max-width: 840px) {
  .sidebar {
    transform: translate(-100%);
    box-shadow: 0 0 0 0 transparent;
  }
}
